<!DOCTYPE HTML>
<title>status</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body, html {
  margin: 0;
  padding: 0;
}

body {
  --item-width: 200px;
  --item-width-max: 600px;
  --item-height: 200px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-rows: var(--item-height);
  justify-content: center;
  font-family: monospace;
  grid-template-columns: repeat(auto-fit, minmax(var(--item-width), var(--item-width-max)));
}

.status {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-image: var(--image);
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  position: relative;
  height: var(--item-height);
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.red::before, .green::before {
  content: '';
  display: inline-block;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}

.green::before {
  background: lightgreen;
}

.red::before {
  background: red;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

</style>
<% for (const item of data) { Object.assign(item, servers.shift()); %>
  <div class="status" style=" --image: url('<%=item.logo%>'); ">
    <div class="cover">
      <div class="name"><%=item.src%></div>
      <%if (item.connected) {%>
        <div class="green" data-name="<%=item.name%>"><%=item.cleanName%></div>
        <div class="version"><%=item.version%></div>
        <div class="players"><%=item.currentPlayers%>/<%=item.maxPlayers%></div>
      <%} else {%>
        <div class="red">Failed to connecting</div>
      <%}%>
    </div>
	</div>
<% } %>
<script src="http://raw.githack.com/FoxInFlame/MinecraftColorCodes/master/MinecraftColorCodes.min.3.7.js"></script>
<script>

document.querySelectorAll(".green").forEach(x => {
  const parsed = parseStyle(x.dataset.name);
  x.textContent = '';
  x.appendChild(parsed);
})

</script>
